#react-body {
  margin: 10px;
}

.reflv-wrap {
  margin: 0 auto;
  max-width: 1000px;

  h3 {
    margin: 30px 0 5px 0;
  }

  .redemo {
    width: 100%;
    margin: 10px 0;
  }

  .ant-table {

    td {
      word-break: normal;
    }

    .ant-table-content{
      overflow-x: scroll;
    }
  }
}
